<!-- Services Concept -->
<section id="applications" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Applications</h2>
        <h3 class="text-muted">InVisiSwitch works as a regular switch, by creating a magnetic field that responds to object that are within the vicinity of the switch, to turn on/off electrical appliances. It can be used on existing appliances, by removing the traditional switch and apply InVisiSwitch that are adhesive, onto a wall. The switch can be connected to a centralized component, by using transparent material, that are conductive. The Centralized component is used to uphold the magnetic field on the switch and toggle the existing electrical appliances accordingly.</h3>
      </div>
    </div>
  </div>
</section>
