<!-- Services Concept -->
<section id="applications" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Applications</h2>
        <p class="large text-muted">{{site.title}} works as a regular switch. However by emitting a magnetic field that responds to objects that are within the vicinity it is able to toggle electrical appliances on and off.</p>
        <p class="large text-muted">It can be used by existing appliances, by replacing the traditional switch and instead use the adhesive {{site.title}}, which applied to a wall and connects to the existing electrical network. The switch is transparent which means it be integrated onto glass.</p>
        <p class="large text-muted">{{site.title}} connects to a centralized component. It is used to uphold a magnetic field used to toggle the existing electrical appliances accordingly.</p>
      </div>
    </div>
  </div>
</section>
