<!-- Services Concept -->
<section id="concept">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Concept</h2>
        <h3 class="section-subheading text-muted">Rethinking the light switch</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-circle-o fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Transparent</h4>
        <p class="text-muted">Using state of the art technology {{ site.title }} is inheritly transparent, which allows for breaking the aestetics of the room.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-hand-o-right fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Touchless</h4>
        <p class="text-muted">The switch can be toggled by a swipe of a hand. Flush with the wall. No mechanical parts. Easy cleaning.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-random fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Flexible</h4>
        <p class="text-muted">Don't fancy the location of the switch? The {{ site.title }} can be moved around the room as you wish without consulting a professional.</p>
      </div>
    </div>
  </div>
</section>
