<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-muted">We would like to hear from you! Send your questions and thoughts to us by clicking the link below.</h3>
        <h3 class="contact-info"><a class="contact-info" href="mailto:{{ site.email }}">Send Mail</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Newsletter</h2>
        <h3 class="section-subheading text-muted">If you would like to hear more from us about the product please consider opting in for our newsletter.</h3>
      </div>
    </div>
    <div class="row">

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
        <div class="col-lg-12 text-center">
          <form action="//github.us10.list-manage.com/subscribe/post?u=ba53f83bf44dfc38ee04967f3&amp;id=10f9345499" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="form-group col-lg-4 col-lg-offset-4">
                <div class="mc-field-group">
                  <input type="email" class="form-control" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email *">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba53f83bf44dfc38ee04967f3_10f9345499" tabindex="-1" value=""></div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 col-lg-offset-4 text-center">
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-xl">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</section>
